<section>
    <a class="back-nav" href ng-click="cancelAnswer()" >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span>Cancel</span>
    </a>
    <h4>{{currentQuestion.text}}</h4>
    <form ng-submit="saveAnswer()" class="content" name="answerEditForm" novalidate>
        <div class="input-group">
          <input ng-model="newAnswer.text" type="text" class="form-control" placeholder="Enter an answer..." id="answer-text" aria-describedby="answer-text" autocomplete="off" required>
        </div>
        <div class="form-group">
            <rg-upload-image on-upload="uploadImage(files)"></rg-upload-image>
            <p class="help-block">Image size must be less than 4 MB</p>
            <div class="edit-image">
                <img ng-if="imageData.imageUrl" ng-src="{{imageData.imageUrl}}" />
                <div class="image-source-overlay" ng-if="newAnswer.photoSource">{{newAnswer.photoSource}}</div>
            </div>
            <div class="input-group image-source-input" ng-if="imageData.imageFile"> 
                    <input ng-model="imageData.imageSource" type="text" class="form-control" placeholder="Enter source of photo">
                </div>
            <div>
                <button ng-show="imageData.imageUrl" ng-click="removeImage($event)" class="clear-image btn btn-default">Remove image</button>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input ng-model="newAnswer.isPhotoOnly" type="checkbox"> Show image only
                </label>
            </div>
        </div>
        <input type="submit" class="icon-list-add-button btn btn-primary" value="Save" ng-disabled="answerEditForm.$invalid" />
    </form>
</section>