<section>
    <a class="back-nav" href ng-click="cancelQuestion()" >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span>Cancel</span>
    </a>
    <h4>Add Question</h4>
    <form ng-submit="saveQuestion()" id="question-edit-form" class="content" name="questionEditForm" novalidate>
        <div class="input-group">
          <input ng-model="currentQuestion.questionText" type="text" class="form-control" placeholder="Enter a question..." id="question-text" aria-describedby="question-text" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="">Points</label>
            <div class="question-points-container">
                <input type="number" ng-model="currentQuestion.points" class="form-control" required />
            </div>
        </div>
        <input type="submit" class="icon-list-add-button btn btn-primary" value="Save" ng-disabled="questionEditForm.$invalid" />
    </form>
</section>