<section>
    <a class="back-nav" ui-sref="home" >
        <span class="glyphicon glyphicon-menu-left"></span>
        <span>Back to Quizzes</span>
    </a>
    <h4>{{quiz.questions.length}} Questions</h4>
    <ul class="icon-list">
        <li ng-repeat="question in quiz.questions">
            <div class="icon-container button">
                <div class="icon-list-icon" ng-click="editPoints(question)">
                    <div>{{question.points}}</div>
                </div>
            </div>
            <div class="body-container">
                <div>
                    <a ui-sref="quiz.question-answers({questionId: question.id})" class="title">{{question.text}}</a>
                </div>
                <ul class="tag-list hidden-xs">
                    <li ng-repeat="answer in question.answers">
                        <a ui-sref="quiz.answer-edit({id: quiz.id, questionId: question.id, answerId: answer.id})" class="tag-link">{{answer.text}}</a>
                    </li>
                </ul>
                <a class="action" ui-sref="quiz.question-edit({questionId: question.id})">edit quesiton</a>
            </div>
        </li>
    </ul>
    <button type="button" ui-sref="quiz.question-edit" class="icon-list-add-button btn btn-default">Add question</button>
    
    <!-- Points dialog -->
    <save-dialog dialog-title="Question Points" dialog-id="questionPoints" on-save="savePoints(dialog)">
        <div class="form-group">            
            <div class="question-points-container">
                <input type="number" ng-model="selectedQuestion.newPoints" class="form-control" min="1" max="{{remainingPoints + selectedQuestion.points}}" required />
                <div>maximum is {{remainingPoints + selectedQuestion.points}}</div>
            </div>
        </div>
    </save-dialog>
</section>