<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0, user-scalable=no">
        
        <title>WhoAmI Quiz Builder</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="lib/angularjs-slider/dist/rzslider.css" />
        <link rel="stylesheet/less" type="text/css" href="css/app.less" />    
    </head>
    
    <body ng-app="quizBuilder">
        <div class="container-fluid">
            <div class="row">
                <div ng-controller="NavCtrl">
                    <div ng-include="templateUrl"></div>
                </div>
                <div ui-view class="anim-in-out anim-fade"></div>
            </div>
        </div>
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//www.parsecdn.com/js/parse-1.6.2.min.js"></script>
        <script src="lib/less/dist/less.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="app/shared/services/utilities.js"></script> 
        <script src="lib/toastr/toastr.js"></script>
        <script src="lib/angularjs-slider/dist/rzslider.js"></script>
        <script src="lib/tinymce-dist/tinymce.js"></script>
        <script src="lib/angular-ui-tinymce/src/tinymce.js"></script>
        
        <!-- Main -->
        <script src="app/app.js"></script>
        
        <!-- Shared Controls -->
        <script src="app/shared/navbar/navController.js"></script>
        <script src="app/shared/services/userService.js"></script>
        <script src="app/shared/services/dataService.js"></script>
        <script src="app/shared/services/filters.js"></script>
        <script src="app/shared/directives/panel/panel.js"></script>
        <script src="app/shared/directives/saveDialog/saveDialog.js"></script>
        <script src="app/shared/services/confirmToast.js"></script>
        <script src="app/shared/directives/dragAndDrop/dragAndDrop.js"></script>
        <script src="app/shared/directives/upload/uploadImage.js"></script>
        
        <!-- Components -->
        <script src="app/components/home/homeController.js"></script>
        <script src="app/components/home/homeService.js"></script>
        <script src="app/components/quiz/quizController.js"></script>
        <script src="app/components/quiz/quizService.js"></script>
        <script src="app/components/question/questionController.js"></script>
        <script src="app/components/answer/answerController.js"></script>
        <script src="app/components/outcome/outcomeController.js"></script>
        <script src="app/components/outcome/outcomeService.js"></script>
        <script src="app/components/logIn/logInController.js"></script>
        
    </body>
</html>