<form class="jumbotron container" name="registerForm" ng-submit="register()">
    <div class="alert alert-danger" role="alert" ng-show="errors.length">
        <ul>
            <li ng-repeat="error in errors">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{error}}
            </li>
        </ul>
    </div>
    <h2>Register</h1>
    <div class="form-group">
        <input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Enter your email" required />
    </div>      
    <div class="form-group">
        <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Enter your password" required />
    </div>
    <div class="form-group">
        <input type="password" ng-model="user.confirmPassword" class="form-control" name="confirmPassword" placeholder="Confirm password" required />
    </div> 
    <input class="btn btn-primary" type="submit" value="Create Account" ng-disabled="registerForm.$invalid" />
</form>