body {
  padding-top: 70px;
}
body > .container-fluid {
  max-width: 1200px;
}
nav.question-pager {
  text-align: center;
}
.actions {
  float: right;
}
.box-header {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-bottom: none;
}
.box-footer {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #800080;
}
.display-none {
  display: none !important;
}
#quiz-section h1,
#quiz-section h2,
#quiz-section h3,
#quiz-section h4,
#quiz-section h5,
#quiz-section h6 {
  margin: 0;
  padding: 10px 0 10px 0;
}
.page-numbers {
  color: #888888;
}
form .input-group {
  margin-bottom: 20px;
}
.button {
  cursor: pointer;
}
.input-group {
  width: 100%;
}
.confirm-buttons {
  display: block;
  margin: 15px 0 15px 54px;
}
.back-nav {
  display: block;
  margin-top: 10px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #800080;
  border-color: #800080;
}
/************   QUIZ HEADER    ************/
.quiz-list {
  margin-bottom: 0;
}
.header {
  min-height: 200px;
  background-color: #eee;
  padding: 20px;
}
.header .title-container {
  padding: 40px 0 0 40px;
}
.big-points {
  font-size: 4em;
  font-weight: bold;
  color: coral;
}
.points-remaining {
  margin-top: 25px;
  text-align: center;
  line-height: 1.1;
  color: cadetblue;
}
/*************   QUIZ SIDE BAR   **************/
.outcome-sidebar {
  background-color: #eee;
  color: #fff;
  padding-bottom: 15px;
}
/* Keeps left sidebar full height */
@media (min-width: 768px) {
  .main-content-container {
    position: relative;
  }
  .outcome-sidebar {
    height: 100%;
    position: absolute;
  }
  .questions-area {
    float: right;
    min-height: 600px;
  }
}
.outcome-sidebar h4,
.questions-area h4 {
  text-align: center;
  color: cadetblue;
}
.outcome-list > li {
  position: relative;
  margin: 15px 0 10px 0;
  background-color: cadetblue;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.outcome-list > li > a {
  display: block;
  color: #fff;
  padding: 5px 15px;
  height: 65px;
}
.outcome-list > li > a.active {
  background-color: coral;
}
.outcome-list .title {
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.outcome-top-role {
  font-style: italic;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 200;
}
.outcome-points {
  position: absolute;
  color: #fff;
  right: 15px;
  bottom: 5px;
}
.pp {
  font-variant: small-caps;
}
.outcome-remove {
  position: absolute;
  right: 7px;
  cursor: pointer;
}
.outcome-remove:hover {
  color: #800080;
}
.add-outcome-button {
  float: right;
}
.role-value-list > li {
  margin-bottom: 25px;
}
.role-points {
  text-align: center;
  font-size: 1.4em;
}
rzslider span.rz-pointer {
  background-color: coral;
}
rzslider span.rz-bar.rz-selection {
  background-color: coral;
}
rzslider span.rz-pointer.rz-active:after {
  background-color: #800080;
}
#summary-edit {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 2px solid #ddd;
}
/*************  QUESTIONS   *************/
#quiz-subview .content {
  padding: 15px 10px;
}
.icon-list > li {
  padding: 15px 0px 15px 10px;
  margin: 0;
  border-bottom: 1px solid #E7E7E7;
  position: relative;
}
.icon-list > li title {
  font-size: 1.2em;
}
.icon-list .body-container {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}
.icon-list .action {
  font-size: 12px;
  font-style: italic;
  color: #800080;
}
.icon-list-add-button {
  display: block;
  margin: 15px auto;
  width: 250px;
}
.question-points-container {
  display: block;
  text-align: center;
}
.question-points-container > input {
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 70px;
  font-size: 40px;
}
#question-edit-form .question-points-container > input {
  margin: 0;
}
.icon-container {
  display: table-cell;
}
.icon-list-icon {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  width: 50px;
  min-width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .icon-list-icon {
    width: 70px;
    min-width: 70px;
    height: 70px;
    font-size: 34px;
  }
}
.icon-list-icon img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}
.quick-entry-item {
  margin-top: 20px;
}
.quick-entry-item > div {
  display: inline-block;
}
.quick-entry-item > div:nth-child(1) {
  width: 5%;
  vertical-align: top;
}
.quick-entry-item > div:nth-child(2) {
  width: 94%;
}
.quick-entry-item .question-box {
  width: 100%;
}
.quick-entry-item ul.answer-list {
  margin-top: 15px;
}
.quick-entry-item ul.answer-list > li {
  margin-top: 10px;
}
.quick-entry-item .answer-box {
  width: 75%;
}
/*********   ANSWERS  *************/
.answer-list .icon-list-icon {
  background-color: coral;
}
.tag-list {
  margin: 5px 0;
}
.tag-list.outcomes > li {
  background-color: cadetblue;
}
.tag-list.outcomes tag-link {
  width: 160px;
}
.tag-list > li {
  color: #fff;
  display: inline-block;
  margin: 0 5px 2px 0;
  padding: 0 10px;
  background-color: coral;
  border-radius: 10px;
}
.tag-list .tag-link {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  width: 120px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.tag-list .remove-tag {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tag-list .remove-tag:after {
  content: 'x';
}
.tag-drag-placeholder {
  font-style: italic;
  color: #888;
  font-weight: 200;
}
.action.answer-remove {
  color: red;
}
.edit-image {
  width: 300px;
  height: auto;
  position: relative;
}
.edit-image img {
  width: inherit;
}
.image-source-input {
  width: 300px;
}
.image-source-overlay {
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 5px;
}
.clear-image {
  margin-top: 5px;
}
